*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
*.bbl
*.blg
*.nav
*.snm
*.vrb
# Исполняемые файлы и бинарники
*.exe
*.dll
*.obj
*.o
*.pdb
*.ilk

# Папки сборки MSVC
Debug/
Release/
x64/
x86/
build/

# Служебные файлы Visual Studio
.vs/
*.vcxproj.user
*.ipch
*.opensdf
*.sdf